
<head>
    <title>地图</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HWM1FqPynlGWMLqX8rAZgp7PYylvuwGP"></script>
</head>


<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">监控中心</a>
        <a><cite>实时位置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">地图</div>


                <div class="layui-card-body ">
                    <div class="layui-row">
                        <div class="layui-col-md8" style="height:520px; padding-left: 200px; border:#ccc solid 1px;font-size:12px" id="map"></div>
                        <form class="layui-form layui-col-md4" action="">

                            <div class="layui-form-item">
                                <label class="layui-form-label">设备类别</label>
                                <div class="layui-input-block">
                                    <select name="equip_class" id="equip_id" lay-filter="equipClassFilter" lay-verify="required">
                                        <option value=""></option>

                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">设备名称</label>
                                <div class="layui-input-block">
                                    <select name="equip_id" id="equip_name" lay-verify="required">
                                        <option value=""></option>

                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-block">
                                    <input id="starttime" type="text" name="starttime" required  lay-verify="required" placeholder="选择开始时间" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-block">
                                    <input id="endtime" type="text" name="endtime" required  lay-verify="required" placeholder="选择开始时间" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">查询轨迹</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    layui.use('senior', layui.factory('senior'));

    //创建和初始化地图函数：
    function initMap(){

        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
        // //addMark(lng, lat); // 标初始点
        // var point = new BMap.Point(114.3652,30.611269);
        // var marker = new BMap.Marker(point);        // 创建标注
        // map.addOverlay(marker);
    }
    function createMap(){
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(114.3652,30.611269),16);
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){
    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
        map.addControl(overviewControl);
    }
    // 地图对象
    var map;
    // 轨迹对象
    var pl;



    // 初始化地图
    initMap();

    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            map.removeOverlay(pl);
            $.ajax({
                type:"GET",
                url:"/getRoute?equipid=" + data.field.equip_id + "&endtime=" + data.field.endtime + "&starttime=" + data.field.starttime,
                success:function(data){
                    console.log(data);
                    var path = [];
                    var points = data.data;
                    for(var i=0; i<points.length; i++){
                        path.push(new BMap.Point(points[i].longitude,points[i].latitude));
                    }
                    pl = new BMap.Polyline(path);
                    map.addOverlay(pl);
                    var car = new BMap.Icon("/car.png", new BMap.Size(52, 52));
                    var startpoint = new BMap.Point(points[0].longitude, points[0].latitude)
                    var endpoint = new BMap.Point(points[points.length-1].longitude, points[points.length-1].latitude)
                    map.addOverlay(new BMap.Marker(startpoint, {icon:car}));
                    map.addOverlay(new BMap.Marker(endpoint));

                }
            })
            return false;
        });

        // 监听选框 切换设备名
        form.on('select(equipClassFilter)', function(data){
            getEquipsByClassId(data.value);

        });
    });

    // 获取设备类型
    $.ajax({
        type:"GET",
        url:"/equipClasses",
        success:function(data){
            var classes = data.data;
            for(var i=0; i<classes.length; i++){
                $("#equip_id").append(new Option(classes[i].className, classes[i].classId));
            }
            layui.form.render();//重新渲染 固定写法
        }
    });




    // 获取设备名。渲染子选择框
    function getEquipsByClassId(classId){
        $.ajax({
            type:"GET",
            url:"/getEquipsByClassId?classId=" + classId,
            success:function(data){
                var classes = data.data;
                $("#equip_name").empty();//清空下拉框的值
                $("#equip_name").append(new Option());
                for(var i=0; i<classes.length; i++){
                    $("#equip_name").append(new Option(classes[i].equipName, classes[i].equipId));
                }
                layui.form.render("select");//重新渲染 固定写法
            }
        })
    }





    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#starttime'
            ,type: 'datetime'
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#endtime'
            ,type: 'datetime'
        });
    });

</script>