

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

  <div class="layui-form-item">
    <label class="layui-form-label">理货员</label>
    <div class="layui-input-block">
      <select name="workerId" id="workerId" lay-filter="equipClassFilter" lay-verify="required">
        <option value=""></option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">班次</label>
    <div class="layui-input-block">
      <select name="workClass" id="workClassId" lay-filter="equipClassFilter" lay-verify="required">
        <option value=""></option>
        <option value="早班">早班</option>
        <option value="中班">中班</option>
        <option value="晚班">晚班</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">任务内容</label>
    <div class="layui-input-block">
      <textarea name="instruction" placeholder="请输入任务内容" class="layui-textarea"></textarea>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>

<script>
  // 请求理货员信息



layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,form = layui.form
  ,upload = layui.upload;
  
  //上传头像
  upload.render({
    elem: '#layuiadmin-upload-useradmin'
    ,url: './json/upload/demo.js'
    ,accept: 'images'
    ,method: 'get'
    ,acceptMime: 'image/*'
    ,done: function(res){
      $(this.item).prev("div").children("input").val(res.data.src)
    }
  });
})


  $.ajax({
    type:"GET",
    url:"/workers",
    success:function(data){
      var workers = data.data;
      for(var i=0; i<workers.length; i++){
        $("#workerId").append(new Option(workers[i].workerName, workers[i].workerId));
      }
      layui.form.render();//重新渲染 固定写法
    }
  });
</script>