

<form class="layui-form" lay-filter="layuiadmin-form-workorder" id="layuiadmin-form-workorder" style="padding: 20px 30px 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">胎压</label>
    <div class="layui-input-inline">
      <textarea name="instruction" placeholder="请输入任务内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">燃油</label>
    <div class="layui-input-inline">
      <textarea name="instruction" placeholder="请输入任务内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">机油</label>
    <div class="layui-input-inline">
      <input type="text" name="progress" lay-verify="required" placeholder="工单进度..." autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">螺丝</label>
    <div class="layui-input-inline">
      <select name="state">
        <option value="未分配">未分配</option>
        <option value="处理中">处理中</option>
        <option value="已处理">已处理</option>
      </select>
    </div>
  </div>

</form>

<script>
layui.use(['index', 'form'], function(){
  var $ = layui.$
  ,form = layui.form;
  
})
</script>